@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.vlc{
    height: 100vh;
    width: 100vw;
}


.headerBox{
    height: 3%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: rgb(49, 49, 49);
    background-color: rgb(238, 238, 238);
}
.vlcImg{
    height: 70%;
}
.videoDetail{
    height: 100%;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.h5{
    margin: 0;
}
.img{
    max-width: 100%;
    max-height: 100%;
}


.menuBox{
    height: 3%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: rgb(238, 238, 238);
}
.menuBtn{
    height: 90%;
    border: none;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: inline-block;
}
.menuBtn:hover .menuItems {display: block;}
.menuBtn:hover{
    background-color: rgb(211, 230, 247);
}
.input{
    width: 35px;
    position: absolute;
    opacity: 0;
}
.btn{
    height: 100%;
    width: 100%;
    border: none;
    color: rgb(49, 49, 49);
    padding: 0px 10px;
    /* font-weight: bold; */
}
.btn:hover{
    background-color: rgb(211, 230, 247);
}
.menuItems{
    display: none;
    position: absolute;
    z-index: 10;
    background-color: rgb(238, 238, 238);
}
.items{
    margin: 0;
    padding: 10px 12px;
    font-size: 12px;
    cursor: pointer;
}
.items:hover{
    background-color: rgb(172, 172, 172);
}


.videoBox{
    height: 88%;
    /* height: 91%; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.imgBox{
    height: 105px;
    width: 105px;
}
.videoImg{
    max-height: 100%;
    max-width: 100%;
}
.video{
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
}
.displayMsg{
    display: none;
    width: 250px;
    height: 50px;
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 10;
    color: rgb(211, 230, 247);
    font-size: 2rem;
    font-weight: bold;
}

.barBox{
    height: 2%;
    padding-top: 4px;
    display: flex;
    background-color: rgb(238, 238, 238);
}
.timeplayed, .duration{
    width: 5%;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    width: 100%;
    opacity: 0.7;
}
.slider:hover{
    opacity: 1;
}

.functionBox{
    height: 4%;
    padding-left: 5px;
    display: flex;
    align-items: center;
    background-color: rgb(238, 238, 238);
}
.playBox{
    height: 25px;
    width: 25px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    background-color: rgb(221, 218, 218);
    border: 1px solid rgb(126, 124, 124);
}
.hovbox:hover{
    border: 1px solid rgb(7, 93, 133);
    background-color: rgb(221, 244, 250);
}
.state{
    font-size: 14px;
    color: rgb(82, 82, 82);
}
.other{
    height: 75%;
    width: 50%;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.func{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border: 1px solid ;
    opacity: 0.8;
    color: rgb(82, 82, 82);
    background-color: rgb(221, 218, 218);
    border: 1px solid rgb(126, 124, 124);
    font-size: 11px;
}
@media (min-width: 340px) and (max-width: 640px) {
    .bar{
        width: 80%;
    }
    .barBox{
        justify-content: space-evenly;
    }
    .timeplayed, .duration{
        font-size: 8px;
    }
}